body{
    background: url("https://media.istockphoto.com/vectors/sweet-illustration-wallpaper-vector-id1222480067");
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    text-align: center;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.form p{
    color: lightcoral;
    text-align: left;
    text-transform: capitalize;
}

.form fieldset legend{
    text-align: left;
    color: lightcoral;
}
.form fieldset{
    border-radius: 10px;
    border-color: lightblue;
}

.form input, button{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: lightcoral;
}
.form label{
    color: lightcoral;
}

.form input[type=submit]:hover{
    background-color: lightgray;
}
.form button:hover{
    background-color: lightgray;
}
footer, a{
    
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    color: lightcoral;
    font-size: 15pt;
}
footer a:hover{
    color: lightblue;
}
@media (max-width: 768px){
    .form #inpt{
        width: 150px;
    }
}
@media (max-width: 480px){
    .pagamento{
        width: 186px;
    }
    .form{
        width: 180px;
    }
}
@media (max-width: 375px){
    .form{
        margin-left: 28px;
    }
}
@media (max-width: 325px){
    .form{
        margin-left: 10px;
    }
}
    
